body {
    background-image: url("../img/background.png");
    font-family: Verdana,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar-default {
    background-image: url("../img/bg-menu.png");
    background-color: #ffffff;
}

.panel.heroi {
    background-image: url("../img/panel-bg.png");
    border: 6px solid #c28c44;
    border-radius: 10px;
    color: #c5ae9e;
}

.panel.panel-danger .panel-body {
    color: #f00;
}

.panel.heroi .title {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0px;
}

.panel.heroi .tipo {
    margin-bottom: 8px;
    font-weight: bold;
    display: inline-block;
}

.panel.heroi table {
    width: 100%;
}

.panel.heroi img {
    width: 40px
}

.panel.panel-info .panel-body {
    background-color: #aeb8ffa6;
    color: #000;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #fff;
}

.navbar-default, .dropdown-menu {
    background-color: #272727;
}

.form-group .dropdown-menu {
    background-color: #fff;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #337ab7;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #337ab7;
}

div#files {
    padding: 15px;
}

.oculto {
    display: none;
}

.has-error input, .has-error button.btn.dropdown-toggle {
    background-color: #ff000047;
}

.has-error {
    color: red;
}